<section class="about-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="heading">
                    <h3><b>About me</b></h3>
                    <h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>
                </div>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8">
                <p class="margin-b-50">Welcome my personal blog. My name is DUCH Chamroeun. I am <b id="age"> 21 </b>
                    years old. I am from Pursat Province.
                    Currently, I live in Phom Penh, and I work as Junior iOS Developer at GAEA-SYS company. I have
                    finished bachelor degree of Database and Programming
                    at UNIVERSITY of PUTHISATRA in Phnom Penh. I also the alumni of Passerelles Numériques Cambodia
                    2016 generation.
                    In my free time, I am reading the short books, learning new technologies, listening the music, and
                    playing the volleyball.

                </p>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-30">
                            <div class="radial-progress" data-prog-percent=".97">
                                <div></div>
                                <h6 class="progress-title">HTML5 & CSS3</h6>
                            </div>
                        </div><!-- radial-prog-area-->
                    </div><!-- col-sm-6-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-30">
                            <div class="radial-progress" data-prog-percent=".9">
                                <div></div>
                                <h6 class="progress-title">Swift</h6>
                            </div>
                        </div><!-- radial-prog-area-->
                    </div><!-- col-sm-6-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-30">
                            <div class="radial-progress" data-prog-percent=".5">
                                <div></div>
                                <h6 class="progress-title">JAVA</h6>
                            </div>
                        </div><!-- radial-prog-area-->
                    </div><!-- col-sm-6-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-50">
                            <div class="radial-progress" data-prog-percent=".7">
                                <div></div>
                                <h6 class="progress-title">PHP</h6>
                            </div>
                        </div><!-- radial-prog-area-->
                    </div><!-- col-sm-6-->

                </div><!-- row -->
            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- about-section -->