<section class="education-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="heading">
                    <h3><b>Education</b></h3>
                    <h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
                </div>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8">
                <div class="education-wrapper">
                    <div class="education margin-b-50">
                        <h4><b>BACHELOR DEGREE IN DATABASE / PROGRAMING</b></h4>
                        <h5 class="font-yellow"><b>UNIVERSITY OF PUTHISATRA</b></h5>
                        <h6 class="font-lite-black margin-t-10">GRADUATED IN MAY 2018(2 YEARS)</h6>
                        <p class="margin-tb-30">At <a href="http://www.puthisastra.edu.kh/" target="_blank" title="University of Puthisatra">UP</a>,
                            Database and
                            Programming is my major. At school, I have learnt about Java Programming, Oracle Essential
                            DBA, SQL, Dynamic Web Application,
                            Basic Linux System Administration, IT Research Methodology, System Analysis and Design and
                            OOP concept. </p>
                    </div><!-- education -->

                    <div class="education margin-b-50">
                        <h4><b>ASOCIATION DEGREE ON COMPUTER SCIENCE</b></h4>
                        <h5 class="font-yellow"><b>Passerelles numériques Cambodia (PNC)</b></h5>
                        <h6 class="font-lite-black margin-t-10">GRADUATED IN MAY 2016(2 YEARS)</h6>
                        <p class="margin-tb-30">At <a href="https://www.passerellesnumeriques.org/en/" target="_blank"
                                title="Passerelles numériques Cambodia">PNC</a>, I have choosen the Web Programing as
                            my major. I had learnt
                            HTML, CSS, JavaScript, PHP, MySQL, HTML5, CSS3, jQuery, AJAX, CodeIgnitor, Software
                            Development Life Circle
                            (SDLC), CMS (WordPress), Photoshop CS6. </p>
                    </div><!-- education -->

                    <div class="education margin-b-50">
                        <h4><b>BACII CERTIFICATION</b></h4>
                        <h5 class="font-yellow"><b>HUN SEN PHNOM KRAVANH HIGH SCHOOL</b></h5>
                        <h6 class="font-lite-black margin-t-10">GRADUATED IN 2014</h6>
                        <p class="margin-tb-30">I am an Alumni of Hun Sen Phnom Kravanh High School. The location is in
                            Kravanh District, Pursat Province.
                        </p>
                    </div><!-- education -->
                </div><!-- education-wrapper -->
            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->

</section><!-- about-section -->