<header>
    <div class="container">
        <div class="heading-wrapper">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-md-pin"></i>
                        <div class="right-area">
                            <h5>{{ address1 }}</h5>
                            <h5>{{ address2 }}</h5>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <!-- /<i class="icon ion-md-heart"></i> -->
                        <i class="icon ion-md-call"></i>
                        <div class="right-area">
                            <h5>{{ phone }}</h5>
                            <h6>{{ timeAvailable }}</h6>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-md-chatbubbles"></i>
                        <div class="right-area">
                            <h5>{{ email }}</h5>
                            <h6>{{ timeReply }}</h6>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- heading-wrapper -->

        <a class="downlad-btn" href="#" target="_blank">Download CV</a>
    </div><!-- container -->
</header>