<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">
                <div class="intro">
                    <div class="profile-img"><img src="https://www.clipartmax.com/png/middle/171-1717870_stockvader-predicted-cron-for-may-user-profile-icon-png.png" alt=""></div>
                    <h2><b>{{ name }}</b></h2>
                    <h4 class="font-yellow">{{ position }}</h4>
                    <ul class="information margin-tb-30">
                        <li><b>BORN : </b>{{ dob }}</li>
                        <li><b>EMAIL : </b>{{ email }}</li>
                        <li><b>MARITAL STATUS : </b>{{ marriedStatus }}</li>
                    </ul>
                    <ul class="social-icons">
                        <li><a href="https://www.pinterest.com/Dchamroeun/" target="_blank"><i class="icon ion-logo-pinterest"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/chamroeun-duch-aa9a00b3/" target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/duchchamroeun/" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/chamroeun.duch1" target="_blank"><i class="icon ion-logo-facebook"></i></a></li>
                        <li><a href="https://twitter.com/dchamroeurn" target="_blank"><i class="icon ion-logo-twitter"></i></a></li>
                    </ul>
                </div><!-- intro -->
            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->
</section>