<section class="experience-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="heading">
                    <h3><b>Work Experience</b></h3>
                    <h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
                </div>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8">

                <div class="experience margin-b-50">
                    <h4><b>JUNIOR iOS Developer</b></h4>
                    <h5 class="font-yellow"><b>DEVELOPE NATIVE APPLICATION</b></h5>
                    <h6 class="margin-t-10">May 2018 - PRESENT</h6>
                    <p class="font-semi-white margin-tb-30">Currently, I am a
                        Junior iOS Developer at <a href="http://www.gaea-sys.com/" target="_blank">GAEA-SYS</a>. Here
                        are what I am respond:</p>
                    <ul class="list margin-b-30">
                        <li>Develop iOS native application base on Swift/Objective-C programming</li>
                        <li>Support and maintainance for customer</li>
                        <li>Analysis the requirement from client</li>
                        <li>Build the application to APP Store</li>
                    </ul>
                </div><!-- experience -->

                <div class="experience margin-b-50">
                    <h4><b>SOFTWARE ENGINEER</b></h4>
                    <h5 class="font-yellow"><b>DESIGN WEB & MOBILE APPLICATION</b></h5>
                    <h6 class="margin-t-10">September 2016 - April 2018</h6>
                    <p class="font-semi-white margin-tb-30">I was a Software Engineer at <a href="https://r-up.jp/"
                            target="_blank">Rise UP Cambodia</a>.
                        Below are what I have completed with there:
                    </p>
                    <ul class="list margin-b-30">
                        <li>Develop and Maintenance Mobile app with(iOS, Swift 4)</li>
                        <li>Develop Web Application with(HTML, CSS, JavaScript, jQuery, Ajax, Json,
                            Bootstrap, and Laravel integrate with API)</li>
                        <li>Define PHP coding standard document for team</li>
                        <li>Implement the Test Case Document for each Projects</li>
                        <li>Testing and Refactoring the code</li>
                        <li>Complete the internship program with Web and Mobile development.
                            <a href="https://gf-chat.firebaseapp.com/" target="_blank">GF-Chat</a>
                        </li>
                    </ul>
                </div><!-- experience -->

            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->

</section><!-- experience-section -->